@import '~bootstrap/scss/bootstrap.scss';

$light-purple: #a68ed7;
$light-blue: #99b6e5;

html, body, #root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

button, input {
  outline: none !important;
}

.title-input {
  border: none !important;
  border-bottom: 2px solid #6c757d !important;
  border-radius: 0;
  margin: 0;
  padding: 2px;
  background: inherit;
  color: inherit;
  outline: none !important;
  box-shadow: none;
  width: -webkit-fill-available;
}
.title-input:focus {
  background: inherit;
  color: inherit;
  outline: none !important;
  box-shadow: none;
}
.title-span {
  min-height: 38px !important;
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
  cursor: pointer;
  word-break: break-all;
  white-space: normal;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@keyframes open-settings-panel {
  from { right: -300px; }
  to { right: 0; }
}
@keyframes close-settings-panel {
  from { right: 0; }
  to { right: -300px; }
}
.settings-panel {
  right: 0;
  width: 300px;
  height: 100vh;
  z-index: $zindex-modal;
  border-left: 1px solid $secondary;
  background: $light;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.close-settings-btn {
  z-index: $zindex-tooltip;
  right: 0;
}
@keyframes close-svg-settings-hover {
  0% { transform: scale(1); }
  20% { transform: scale(1.3); }
  40% { transform: scale(0.7); }
  60% { transform: scale(1.1); }
  80% { transform: scale(0.9); }
  100% { transform: scale(1); }
}
.svg-close-settings-btn:hover {
  animation: close-svg-settings-hover 3s;
}
.color-card {
  width: 33px;
  height: 33px;
  padding: 1px;
  border: 1px solid $gray-600;
  margin: 2px;
}
.color-card:hover {
  border: 1px solid $gray-700;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
}
.active-color-card {
  border: 2px solid $gray-900;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.53);
}
.directories-scroll {
  height: calc(100vh - 60px);
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
}
.todos-scroll {
  max-height: calc(100vh - 205px);
  overflow-y: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
}
.directory-card {
  min-width: 275px;
  max-width: 275px;
  margin: 10px;
  height: fit-content;
  border: 1px solid $primary;
  background: $gray-200;
  border-radius: 5px;
}
.todo-card {
  border: 1px solid $primary;
  border-radius: 5px;
  background: white;
  display: flex;
  flex-direction: row;
}
.todo-card:hover {
  color: $black;
  background: $light-blue;
}
.dir-title {
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  margin-left: 1px;
  margin-right: 5px;
}
.delete-button {
  right: 5px;
  z-index: $zindex-sticky;
  padding-top: 1px;
}
.delete-button:hover {
  animation: close-svg-settings-hover 3s;
  color: $primary;
}


/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $gray-200;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray-400;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $gray-600;
}